* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html {
  margin-top: 0rem;
  font-size: 16px;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0rem auto;
  background-color: rgb(147, 185, 197);
}

body {
  -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
  background-color: #e4e4e4;
  background-image: linear-gradient(to bottom, #a7a7a7 0%, #e4e4e4 51%);
  font-family: system-ui, -apple-system, -apple-system-font, "Segoe UI",
    "Roboto", sans-serif;
  font-size: 12px;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  /* Padding to avoid the "unsafe" areas behind notches in the screen */
  padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px)
    env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
  text-transform: uppercase;
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

button {
  padding: 10px 15px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: rgb(45, 100, 117);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin: 10px;
  max-width: 100px;
}

button:hover {
  background-color: rgb(20, 136, 168);
}

button:active {
  background-color: rgb(2, 20, 26);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.page {
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  opacity: 0;
  background-color: rgb(147, 185, 197);
  transform: translateX(-200%);
}

.page.active {
  opacity: 1;
  transform: translateX(0);
}

#list{
  width: 100%;
  background-color: rgb(147, 185, 197);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
} 

#list .card{
  width: 100%;
  height: 120px;
  background-color: rgb(230, 242, 245);
  border: 1px solid white;
  display: grid;
  grid-template-areas: 'image para1' 'image para2';
  grid-template-columns: 40% 60%;
}

.card .image {
  grid-area: image;
  width: 90%;
  height: 100px;
}

.image img {
  margin-top: -1px;
  width: 80%;
  height: auto;
  border: 2px solid white;
}

.card .para1 {
  grid-area: para1;
  margin-top: 2px;
  font-size: 1.5rem;
  font-weight: 500;
  color: rgb(4, 13, 15);
}

.card .para2 {
  grid-area: para2;
  margin-top: -25px;
  font-size: 1.2rem;
  font-weight: 500;
  color: rgb(4, 13, 15);
}

.music_container{
  padding: 3rem;
  text-align: center;
}

.music_container #title{
  text-transform: uppercase;
  margin-top: -20px;
  letter-spacing: 0.2rem;
  word-spacing: 0.5rem;
  color: #171717;
  font-weight: 500;
  font-size: 2rem;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
}

.music_container #artist{
  color: #171717;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
  margin-bottom: 4rem;
  font-weight: 300;
}

.img-container{
  width: 25rem;
  height: 25rem;
  margin: auto;
}

img{
  width: 50%;
  height: 50%;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 1.2rem 3rem 0.5rem rgba(0, 0, 0, 0.4);
}

.music_controls #playbackA{
  margin-top: -80px;
  display: flex;
  justify-content: space-between;
}

.music_controls #playbackB{
  margin-top: 30px;

}
.music_controls #down-btn{
  margin-left: 20px;
}

.music_controls #back{
  margin-top: 25px;
}

.animate {
  animation: rotatePlayer 3s linear infinite;
}

@keyframes rotatePlayer{
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.music_controls .audioTrack{
  margin-top: -100px;
}

.sliderContainer{
  display: flex;
  flex-direction: row;
} 

.sliderContainer .slider{
  height: 15px;
  margin-top: -140px;
  background-color: rgb(4, 13, 15);
}

.sliderContainer .currentTime{
  margin-top: -140px;
  margin-right: 20px;
}

.sliderContainer .maxTime{
  margin-top: -140px;
  margin-left: 20px;
}